header {
    text-align: center;
}

.container {
    display: flex;
}

main {
    display: flex;
    flex: 3 0 30px;
    flex-wrap: wrap;
}

aside {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    justify-content: space-around;
    flex: 1 0 20px;
}

aside > h2 {
    text-align: center;
}

nav {
    border: 1px solid black;
    text-decoration: none;
}

ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    list-style-type: none;
}

nav a {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 10px;
    flex: 2 0 10%;
    text-align: center;
}

article {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
    flex: 1 0 20%;
}

.arch {
    display: flex;
    flex-wrap: wrap;
}

footer {
    border-top: 1px solid black;
}

footer h2:first-child {
    text-align: center;
}

footer::second-line {
    display: flex;
    order: 1;
}

.RRSS {
    display: flex;
    float: right;
}