header, footer, .twitter, .facebook {
    text-align: center;
}

header, .tituloNoticia1, .tituloNoticia2 {
    border-bottom: 1px solid black;
}

footer {
    border-top: 1px solid black;
    
}

nav {
    border-bottom: 1px solid black;
    padding: 10px;
    
}

.menu {
    display: inline;
    padding: 55px;
    border: 1px solid black;
}

.contenido {
    position: relative;
    left: 15px;
    margin-top: 20px;
    margin-right: 450px;
}

.noticia1, .noticia2 {
    border: 1px solid black;
    text-align: center;
}

aside {
    text-align: right;
    border-left: 1px solid black;
    margin-left: 110rem;
    position: relative;
    right: 15px;
}

.RRSS {
    /* float: inline-end; */
}

.twitter, .facebook {
    border: 1px solid black;
    position: relative;
    left: 15px;
}