header, footer {
    text-align: center;
}

header {
    border-bottom: 1px solid black;
}

footer {
    border-top: 1px solid black;
}

.menu {
    display: inline;
    padding: 55px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}