header{
    text-align: center;
    border-bottom: 1px solid black;
}

nav {
    border: 1px solid black;
    margin-top: 20px;
}

ul {
    list-style: none;
    
}

li {
    border: 1px solid black;
    display: inline;
}

a {
    text-decoration: none;
    color: black;
    padding: 150px;
}

.container {
    
}

main {
    display: inline-block;
}

article {
    border: 1px solid black;
}

aside {
    display: inline-block;
    width: 27%;
    vertical-align: top;
}

.arch {
    border: 1px solid black;
    
}

.dates {
    
}

.pub {
    border: 1px solid black;
}

.pub img {
    width: 49%;
}

footer {
    text-align: center;
}

.foot h2 {
    display: inline-block;
}

.RRSS{
    display: inline-block;
}

.facebook {
    display: inline-block;
    width: 20%;
}

footer a {
    width: 50%;
}