header{
    text-align: center;
    border-bottom: 1px solid black;
}

nav {
    border: 1px solid black;
    margin-top: 20px;
}

ul {
    list-style: none;
}

li {
    border: 1px solid black;
    display: inline;
}

a {
    text-decoration: none;
    color: black;
    padding: 150px;
}

main {
    display: inline-block;
    width: 70%;
}

article {
    border: 1px solid black;
    display: inline-block;
    width: 30%;
    margin: 1%;
}

article h3 {
    margin-left: 7%;
}

aside {
    display: inline-block;
    width: 27%;
    vertical-align: top;
    margin-left: 1%;
}

.arch {
    border: 1px solid black;
}

.dates .input {
    display: inline-block;
    width: 30%;
    margin: 6%;
    margin-left: 13%;
    margin-top: 7%;
}

.pub {
    border: 1px solid black;
}

.pub img {
    width: 37%;
    margin-top: 4%;
    padding: 5%;
}

footer {
    border-top: 1px solid black;
    text-align: center;
}

.foot h2 {
    display: inline-block;
    margin-right: 53%;
}

.RRSS{
    display: inline-block;
}

.facebook, .twitter, .linkedin, .github, .youtube {
    display: inline-block;
    width: 10%;
    margin: 3%;
}

.facebook a, .twitter a, .linkedin a, .github a, .youtube a {
    padding: 0px;
}

footer a {
    width: 50%;
}