header{
    background-color: #7fffd4;
    border: 3px inset #E1289E;
}

nav {
    border: 2px dotted black;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
}

ol > li {
    list-style: decimal;
}

nav a {
    text-decoration: none;
    color: black;
    border: 2px dotted black;
}

main {
    background-color: #a9a9a9;
    border: 3px dashed #693A3A;
}

footer {
    background-color: #20b2aa;
    border: 3px inset #5E4030;
}

body {
    border: 3px solid #ff8800;
}

h1 {
    text-align: center;
    padding: 15px;
}

h2 {
    margin-left: 25px;
}

h3 {
    margin-left: 30px;
}

p {
    margin-left: 35px;
}

li {
    margin-left: 35px;
}